<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GroupElementsSection" type="TestLibrary.Config.GroupElementsSection, TestLibrary" />
    <section name="TestElementsSection" type="TestLibrary.Config.TestElementsSection, TestLibrary" />
  </configSections>
  <appSettings>
		<!-- NOTE: all appSetting String values subjected to .Trim() method during import into TestLibrary.-->
	<!-- Standard TestLibrary Logger configuation settings, specific to the Logger sub-system.-->
	<add key="LOGGER_FileEnabled" value="true"/>
	<!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
	<!-- Can choose to Log to Rich Text only, SQL only, both Rich Text & SQL or neither, depending what the Customer requires. -->
	<add key="LOGGER_FilePath" value="C:\temp"/>
	<!-- Rich Text Log Paths are only relevant if LOGGER_FileEnabled is true. -->
	<!-- Windows file/folder permissions to create, read, write & search in LOGGER_FilePath are required. -->
	<add key="LOGGER_SQLEnabled" value="false"/>
	<!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
	<!-- Can choose to Log to Rich Text only, SQL only, both Rich Text & SQL or neither, depending what the Customer requires. -->
	<add key="LOGGER_SQLConnectionString" value=""/>
	<!--  SQL connection string only relevant if LOGGER_SQLEnabled is true. -->
	<add key="LOGGER_TestEventsEnabled" value="true"/>
	<!-- See https://github.com/Amphenol-Borisch-Technologies/TestEvents -->
	<!-- Standard TestLibrary UUT configuration settings, specific to the Unit Under Test. -->
	<add key="UUT_Customer" value="UUT_Customer"/>
	<add key="UUT_Type" value="UUT_Type"/>
	<!-- Recommended choices: { System, Unit, CCA, Component }. -->
	<add key="UUT_Number" value="UUT_Number"/>
	<add key="UUT_Revision" value="UUT_Revision"/>
	<add key="UUT_Description" value="UUT_Description"/>
	<add key="UUT_TestSpecification" value="UUT_TestSpecification" />
	<!-- When UUT_DocumentationFolder is a valid Windows folder path, File explorer will open the folder during TestLibrary.Form's Shown Event. -->
	<!-- Provides convenient access to supplementary UUT or test documents that may be helpful when operating the test. -->
	<!-- Examples are UUT test procedures, schematics, drawings, BOMs, work instructions, troubleshooting notes, etc. -->
	<!-- Set UUT_DocumentationFolder to empty string "" to disable it's function. -->
	<add key="UUT_DocumentationFolder" value="C:\temp"/>
	<!-- Custom configuration settings specific to this APP, LOG or UUT, and not provided by their standard configurations from TestLibrary. -->
	<!-- These settings should be initialized in a local library specific to the test program/application. -->
	<add key="CUSTOM_SMBusAddress" value="40" />
    <!-- System Management Bus device address, in hexadecimal format. -->
  </appSettings>
  <GroupElementsSection>
    <!--
	ID:				Required field.
					- Unique Identifier; no 2 can be identical, as ID is unique key in a Dictionary object.
					- Suggest T-10, T-20, T-30... ABT FilePro Traveler Test Operations.
	Required:		Required field.
					- If Required = true, it's a Group of Tests the UUT's customer requires
						be executed & pass in order to ship the UUT.
					- Required Groups generally correspond to FilePro Traveler
						operations; T-10, T-20, T-30...
					- Multiple Groups can be required, if there are multiple
						FilePro Test Operations; T-10, T-20, T-30...
					- If Required = false, Group is a custom subset of Tests
						solely useful for troubleshooting UUTs that don't pass
						their Required Groups.
					- Non-required Groups don't create valid test data nor report
						overall UUT results, just their custom Group results.
					- Recommend ordering all Required Groups by Test Operation,
						then non-Required as desired.
					- Order of Group appearance in this App.config determines order of
						appearance when selecting Groups in GroupSelection ListView,
						so optimally order them in the sequence they're performed;
					    (T-10, T-20, T-30...)
	Revision:		Required field.
					- Revision of the Test Group's GroupElement.
					- Increment whenever any GroupElement field in Group changes; particularly when TestIDs are added or removed.
					- Add a comment to the GroupElement for each revision increment detailing modifications.
					  providing revision history
					- Essentially GroupElements are customer test requirements, hence Revision is a required field.
	Name:			Required field.
					- Concise Name used in Form GroupSelection; e.g. "PreMold".
	Description:	Required field.
					- Concise or verbose description of Group:
						- "PowerUp +28V, +5 & +3.3"
					- Or:
						- "PowerUp +28V, +5 & +3.3
						* Apply/measure +28.0 VDC.
						* Apply/measure +5.0 VDC.
						* Apply/measure +3.3 VDC.
						* Measure derived ±12.0 VDC
						* Measure derived +2.5 VDC
						* Measure derived +1.8 VDC
						* Measure derived +1.2 VDC"
	TestIDs:		Required field.
					- Tests in Group, *in order of execution*
					- 1 or more TestIDs from TestElements, separated by '|'.
					- Tests execute in *entry order*:
						- Entry "T3|T1|T2" executed in sequence (T3, T1, T2).
						- Entry "T1|T2|T3" executed in sequence (T1, T2, T3).
						- Entry "T2|T3|T1" executed in sequence (T2, T3, T1).

	ABT Test Operations to Raytheon 0001624557 Test Paragraphs:
		T-10: 5.1 SSTO Flying Probe, P00010.
		T-20: 5.2 Inductance Check, P00050.
		T-30: 5.3 Initial Power Up, P00100 - P00200.
				5.4 UUT Programming, P00300 - P00600.
				5.5 Initial Configuration, P00700 - P00750.
				5.6 Power Stage Health Check, P00800 - P10200.
		T-50: 6.0 Calibration & Final Test, P10300 - P11800.
		
		NOTE: All GroupElementsSection String values *except Description* subjected to .Trim() method during import.
			  - This is why TestIDs can be split across lines.
			  - Description excluded to deliberately permit preceding/succeeding whitespace. -->
    <GroupElements>
		<!-- &#x9; is the tab character in XML format. -->
		<!-- &#xD is the carriage return character in XML format. -->
		<!-- &#xA; is the linefeed character in XML format. -->
		<!-- &#xD;&#xA; together comprise a standard Windows carriage return/linefeed in XML format. -->
		<!-- Above XML control characters embed tabs & carriage return/linefeeds into the Detail field's text. -->
		<GroupElement	ID="T-10"
						Revision="1.1"
						Required="true"
						Name="FilePro T-10 Operation"
						Description="&#x9;Test Pre-Coat&#xD;&#xA;&#x9;ISP&#xD;&#xA;&#x9;Bootup, Happy Lights"
						TestIDs="T00|T01|T02|T03|T04|T05|T06|T07|T10"/>
						<!-- T-10 Revision 1.1 added T9 per customer request.  11-Dec-2022, P. Smelt. -->
		<GroupElement	ID="T-20"
						Revision="1.1"
						Required="true"
						Name="FilePro T-20 Operation"
						Description="&#x9;Test Post-Coat&#xD;&#xA;&#x9;Calibration&#xD;&#xA;&#x9;Bootup, Happy Lights"
						TestIDs="T00|T01|T02|T03|T04|T05|T06|T08|T09|T10"/>
					<!-- T-20 Revision 1.1 added T9 per customer request. 11-Dec-2022, P. Smelt -->
		<GroupElement	ID="Power"
						Revision="1.0"
						Required="false"
						Name="Powered Troubleshooting"
						Description="&#x9;Power UUT to troubleshoot"
						TestIDs="T00|T01|T02"/>
			<!-- GroupElement Revisions 1.0 are initial releases. -->
		</GroupElements>
  </GroupElementsSection>
  <TestElementsSection>
    <!--
	ID:				Required field.
					- Unique Identifier; no 2 can be identical, as ID is unique key in a Dictionary object.
					- T01, T02, T03...
					- *Must* also be a valid C# identifier; see 
					  https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/identifier-names.
					- Recommend alpha-numerically ordering to avoid duplications,
					  which throw Exceptions.
					- Can be ordered as desired though; test execution order
					  *solely* determined by GroupElement TestIDs test ordering.
					- Cannot contain | character.
						- Using character '|' to separate GroupsToTestsElement IDTests.
						- Thus TestElement IDs cannot contain character '|' in them.
						- ID="T01 valid.
						- ID="T|1" invalid
	Description:	Required field.
					- Concise description of Test; "Apply/measure +5V DC Input Voltage pre-programming."
	Revision:		Required field.
					- Revision of the Test's TestElement.
					- Increment whenever any TestElement field in Test changes.
						- Typically will be set to "1.0" at initial release & left unchanged 
						  thereafter.
						- For most Customers & UUTs, this fine-grained revisioning will
						  be annoying, unnecessary overhead.
						- For some Customers or UUTs, however, it might be useful or even required.
					- Add a comment to the TestElement for each revision increment detailing modifications,
					  providing revision history
					- TestElements are customer test requirements, hence Revision is a required field.
	ClassName:		Required field.
					- Class name to use to create & store below Test arguments.
						- Current options are 'TestCustomizable', 'TestISP', 'TestNumerical' or 'TestTextual'.
						- TestCustomizable for completely custom tests, including Key=Value inputs.
							- Allows multiple custom inputs.
							- Allows multiple custom results.
						- TestISP is for In-System Programming operations, typically including:
							- Blank Check
							- Erase
							- Program
							- Verify program
							- Device & Manufacturer ID codes
							- CRC calculations
						- TestNumerical is for standard measurements with Low & High limits:
							- Current, Resistance, Voltage, etc.
						- TestTextual is to check textual values:
							- User input
							- Text read from IC memories
							- Text read from files
							- Text read form networked devices
							- CRC calculations that don't utilize ISPExecutables.
	Arguments:		Required field.
					IMPORTANT:
					- All Key-Value Pairs are required in all Arguments.
					- All Keys in all Arguments are case-sensitive.
					- No Values in any Arguments are case-sensitive.
						- Example, for TestNumerical Keys:
							- low ≠ Low.  Only Low is correct.
							- high ≠ High.  Only High is correct.
							- unit ≠ Unit.  Only Unit is correct.
							- unittype ≠ unitType ≠ Unittype ≠ UnitType.  Only UnitType is correct.
					- Key-Value Pairs seperated by '|' character.
						- Key-Value Pairs are themselves separated by '=' character.
					- TestNumerical Key-Value Pairs:
						- Example: Arguments="Low=0.0035|
						                      High=0.055|
											  Unit=A|
											  UnitType=DC".
						- Low
							- Required sub-field.
								-Enter '-∞' for no Low limit.
							- Test's low limit; example "Low=4.75", for a 5.0VDC power supply with -5% tolerance.
							- Parsed as Double.TryParse(Low, NumberStyles.Float, CultureInfo.CurrentCulture, out dMeasurement);
							- https://learn.microsoft.com/en-us/dotnet/api/system.double.tryparse?view=net-7.0#system-double-tryparse(system-string-system-globalization-numberstyles-system-iformatprovider-system-double
							- https://learn.microsoft.com/en-us/dotnet/api/system.globalization.numberstyles?view=net-7.0#system-globalization-numberstyles-float
							- Scientific Notation allowed & encouraged:
								- 1.0E5 is valid instead of 100000.0.
								- 1.5E-5 is valid instead of 0.000015.
								- Postive/Negative +/- signs allowed in both exponent & significand:
								+1.0E+5 is valid for +100000.0.
									- Recommend 1.0E5 though.
								-1.0E5 is valid for -1000000.0.
								1.5E-5 is valid for 0.000015.
								-1.5E-5 is valid for -0.000015.
							- Int32 & Double both allowed:
								- 100000 & 100000.0 both valid.
							- Commas not allowed:
								- 100000 & 1000000 both valid.
								- 100,000 & 1,000,000 both invalid.
								- Recommend 1E5 and 1E6 instead.
						- High
							- Required sub-field.
								- Enter '∞' for no High limit.
							- Test's high limit; example "High=5.25", for a 5.0VDC power supply with +5% tolerance.
							- Parsed identically as Low.
						- Unit
							- Required sub-field.
							- SI Base & Derived Units:
							- Examples:
								A, V, F, H, Ω, S, °C, s, Hz, W, VA for respectively
								amperes, volts, farads, henries, ohms, siemens,
								°Celcius, seconds, hertz, watts, volt-amperes.
								https://en.wikipedia.org/wiki/SI_base_unit
								https://en.wikipedia.org/wiki/SI_derived_unit
							- Recommend "" when Units aren't applicable:
							- NOTE: do not use Metric prefixes:
								- That is, do not use micro, milli, kilo, mega, etc.
								  or their μ, m, k, M, etc. symbols either.
								- Instead, always normalize Low & High to
								  unitary SI Units without prefixes.
								- 10000 Ω is valid.
								- 10 kiloΩ or 10 kΩ invalid.
								- Again, recommend Scientific Notation when applicable.
							- NOTE: Units are purely cosmetic in function; they aren't used
								to calculate Test PASS/FAIL results as Low & High are,
								only for reporting what Units their Test's measured values are in.
						- UnitType
							- Required sub-field, but enter "UnitType=" if UnitTypes aren't applicable.
							- Examples; AC, DC, Peak, PP, RMS respectively for Alternating Current,
								Direct Current, Peak, Peak-to-Peak, Root-Mean-Squared.
							- NOTE: UnitTypes are purely cosmetic in function; they aren't used
								to calculate Test PASS/FAIL results as Low & High are,
								only for reporting metadata about the Units the tests measured
								values are in.
					- TestISP Key-Value Pairs:
						- Example: Arguments="ISPExecutableFolder=C:\Program Files\Microchip\MPLABX\v6.05\mplab_platform\mplab_ipe|
								              ISPExecutable=ipecmd.exe|
								              ISPExecutableArguments=-pv C:\Firmware\bootloader_00_01_00_df8ac568.hex|
											  ISPResult=0x985F" />"
						- ISPExecutableFolder
							- Required sub-field.
							- Valid Folder path containing ISPExecutable executable.
						- ISPExecutable
							- Required sub-field.
							- Valid name of programming file, relative to folder FirmwareFolder.
						- ISPExecutableArguments
							- Required sub-field.
							- Command-line arguments passed to ISPExecutable executable when invoked.
							- This must include the firmware folder + firmware file in a valid
							  path, plus any ISPExecutable invocation options.
						- ISPResult
							- Required sub-field.
							- Examples:
								- CRC/Cyclic Redundancy Check read from IC.
								- Standard Output from ISPExcutable operation; "Verification passed".
								- Standard Error result from ISPExecutable operation; pass=0=, fail≠0.
					- TestTextual Key-Value Pairs:
						- 1 Key-Value Pair.
						- Text
							- Required sub-field.
							- Arguments="Text=The quick brown fox jumps over the lazy dog."
					- TestCustomizable Key-Value Pairs:
						- 1 or more custom Key-Value Pairs.
						- Examples:
							Arguments="CustomKey1=CustomValue1"
							Arguments="CustomKey1=CustomValue1|
							           CustomKey2=CustomValue2|
									   ...CustomKeyN=CustomValueN"
							Arguments="Michigan=Lansing|
							           Ohio=Columbus|
									   Kentucky=Frankfort" for some US state capitals.
							- or, if preferred:
							Arguments="michigan=lansing|
									   ohio=columbus|
									   kentucky=frankfort" for some US state capitals.


	More on required Low & High sub-fields:
		Invalid Tests:
			- Low won't parse to Double.
				- Enter '-∞' for no Low limit.
			- High won't parse to Double.
				- Enter '∞' for no High limit.
			- Low & High both parse to Double, but Low > High.

		Valid Tests:
			- Low & High both parse to Double and Low ≤ High:
				- Typical low & high limits, an inclusive range of numeric measurements that will pass..
				- Special case of Low = High acceptable but *not recommended* due to
				  System.Double roundoff/truncation & instrument measurement inaccuracies.
				- Most (all) real-world measurements require non-zero tolerances.
				
		NOTE: All TestElements String values subjected to .Trim() method during import.
			  This is why TestIDs can be split across lines. -->
    <TestElements>
		<!-- TestElement Revisions 1.0 are initial releases. -->
		<TestElement	ID="T00"
									Description="Power to Ground busses"
									ClassName="TestNumerical"
									Revision="1.1"
									Arguments="Low=50|
											   High=∞|
											   Unit=Ω|
											   UnitType=" />
						<!-- T00 Revision 1.1 LimitLow was 100Ω, now 50Ω. 8-Nov-2022, P. Smelt .-->
		<TestElement	ID="T01"
									Description="Applied +5.0VDC"
									ClassName="TestNumerical"
									Revision="1.0"
									Arguments="Low=4.75|
											   High=5.25|
											   Unit=V|
											   UnitType=DC" />
		<TestElement	ID="T02"
									Description="Applied +3.3VDC"
									ClassName="TestNumerical"
									Revision="1.0"
									Arguments="Low=3.2|
											   High=3.4|
											   Unit=V|
											   UnitType=DC" />
		<TestElement	ID="T03"
									Description="Total Power"
									ClassName="TestNumerical"
									Revision="1.2"
									Arguments="Low=0.8|
											   High=1.2|
											   Unit=W|
											   UnitType=" />
						<!-- T03 Revision 1.1 LimitLow was 0.9W, now 0.8W.  15-Oct-2022, P. Smelt. -->
						<!-- T03 Revision 1.2 LimitHigh was 1.1W, now 1.2W. 21-Oct-2022, P. Smelt. -->
		<TestElement	ID="T04"
									Description="Derived 2.5VDC"
									ClassName="TestNumerical"
									Revision="1.0"
									Arguments="Low=2.4|
											   High=2.6|
											   Unit=V|
											   UnitType=DC" />
		<TestElement	ID="T05"
									Description="Derived 1.8VDC"
									ClassName="TestNumerical"
									Revision="1.1"
									Arguments="Low=1.7|
											   High=1.9|
											   Unit=V|
											   UnitType=DC" />
						<!-- T05 Revision 1.1 Limits were 1.75V/1,85V, now 1.7V/1.9V.  17-Nov-2022, P. Smelt. -->
		<TestElement	ID="T06"
									Description="U2 10Mzh"
									ClassName="TestNumerical"
									Revision="1.0"
									Arguments="Low=0.999E6|
											   High=1.001E7|
											   Unit=Hz|
											   UnitType=" />
		<TestElement	ID="T07"
									Description="Flash U6"
									ClassName="TestTextual"
									Revision="1.0"
									Arguments="Text=0x050C" />
		<TestElement	ID="T08"
									Description="Calibrate UUT"
									ClassName="TestTextual"
									Revision="1.0"
									Arguments="Text=0xABCD" />
		<TestElement	ID="T09"
									Description="Calibrate UUT"
									ClassName="TestCustomizable"
									Revision="1.0"
									Arguments="CalibrationConstant=ϕ" />
		<TestElement	ID="T10"
									Description="Happy Lights"
									ClassName="TestTextual"
									Revision="1.0"
									Arguments="Text=Lit correctly" />
    </TestElements>
  </TestElementsSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.48.1.0" newVersion="4.48.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.0" newVersion="1.26.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.25.0.0" newVersion="2.25.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.3.1" newVersion="5.11.3.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Driver" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
